In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
census_data = pd.read_csv("combined_data.csv")
census_data

,Name,English only,Spanish,French Creole,Yaddish,Italian,Portuguese,German,Greek,Russian,...,Thai,Laotian,Vietnamese,Tagalog,Navajo,Hungarian,Arabic,Hebrew,state,Year
0,Alabama,4137110.0,113179.0,438.0,23.0,1796.0,1294.0,10230.0,1003.0,1467.0,...,876.0,921.0,5256.0,2141.0,39.0,154.0,4090.0,325.0,1,2009
1,Alabama,4194045.0,137617.0,568.0,29.0,1638.0,1293.0,10017.0,967.0,1327.0,...,757.0,904.0,5716.0,2546.0,45.0,154.0,3889.0,510.0,1,2010
2,Alabama,4219401.0,144390.0,293.0,9.0,1821.0,1294.0,10335.0,841.0,1305.0,...,962.0,726.0,6258.0,2947.0,30.0,135.0,3656.0,593.0,1,2011
3,Alabama,4241429.0,149070.0,338.0,20.0,1790.0,1326.0,10069.0,878.0,1268.0,...,835.0,802.0,6337.0,3025.0,79.0,132.0,3807.0,471.0,1,2012
4,Alabama,4261611.0,151384.0,333.0,18.0,1672.0,1374.0,10038.0,918.0,1325.0,...,828.0,935.0,6839.0,3115.0,96.0,145.0,4560.0,410.0,1,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,Wyoming,499332.0,26150.0,2.0,0.0,331.0,359.0,1539.0,146.0,401.0,...,159.0,1.0,206.0,716.0,149.0,73.0,200.0,9.0,56,2014
516,Wyoming,502352.0,27635.0,3.0,0.0,302.0,295.0,1504.0,97.0,395.0,...,224.0,3.0,350.0,605.0,142.0,92.0,242.0,18.0,56,2015
517,Wyoming,505407.0,27245.0,62.0,130.0,395.0,248.0,2005.0,43.0,52.0,...,412.0,37.0,271.0,156.0,684.0,368.0,18.0,82.0,56,2016
518,Wyoming,506060.0,27302.0,79.0,131.0,401.0,127.0,2050.0,35.0,31.0,...,347.0,30.0,161.0,153.0,798.0,415.0,17.0,86.0,56,2017
519,Wyoming,504841.0,27564.0,37.0,178.0,375.0,117.0,1977.0,0.0,21.0,...,366.0,4.0,69.0,147.0,780.0,416.0,17.0,61.0,56,2018

## Find out the percentage change on every states

In [21]:
state_change = (census_data.groupby(['Name']).pct_change()*100).round(2)
name = census_data['Name'].tolist()
state_change["Name"] = name
state_change = state_change.reindex(columns = ['Name','English only', 'Spanish', 'French Creole', 'Yaddish', 
        'Italian','Portuguese', 'German', 'Greek', 'Russian', 'Polish', 'Serbo-Croatian',
       'Armenian', 'Persian', 'Gujarati', 'Hindi', 'Urdu', 'Chinese',
       'Japanese', 'Korean', 'Mon-Khmer', 'Hmong', 'Thai', 'Laotian',
       'Vietnamese', 'Tagalog', 'Navajo', 'Hungarian', 'Arabic', 'Hebrew',
       'state', 'Year'])
del state_change["state"]
del state_change["Year"]
state_change = state_change.fillna(0)
state_change

,Name,English only,Spanish,French Creole,Yaddish,Italian,Portuguese,German,Greek,Russian,...,Mon-Khmer,Hmong,Thai,Laotian,Vietnamese,Tagalog,Navajo,Hungarian,Arabic,Hebrew
0,Alabama,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,Alabama,1.38,21.59,29.68,26.09,-8.80,-0.08,-2.08,-3.59,-9.54,...,-4.35,0.00,-13.58,-1.85,8.75,18.92,15.38,0.00,-4.91,56.92
2,Alabama,0.60,4.92,-48.42,-68.97,11.17,0.08,3.17,-13.03,-1.66,...,-5.46,167.57,27.08,-19.69,9.48,15.75,-33.33,-12.34,-5.99,16.27
3,Alabama,0.52,3.24,15.36,122.22,-1.70,2.47,-2.57,4.40,-2.84,...,14.99,61.62,-13.20,10.47,1.26,2.65,163.33,-2.22,4.13,-20.57
4,Alabama,0.48,1.55,-1.48,-10.00,-6.59,3.62,-0.31,4.56,4.50,...,6.10,30.00,-0.84,16.58,7.92,2.98,21.52,9.85,19.78,-12.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,Wyoming,0.97,2.43,-33.33,0.00,29.30,-29.19,-5.76,-45.32,16.57,...,0.00,-36.67,-1.24,-50.00,28.75,14.74,-8.02,-3.95,72.41,-68.97
516,Wyoming,0.60,5.68,50.00,0.00,-8.76,-17.83,-2.27,-33.56,-1.50,...,inf,31.58,40.88,200.00,69.90,-15.50,-4.70,26.03,21.00,100.00
517,Wyoming,0.61,-1.41,1966.67,inf,30.79,-15.93,33.31,-55.67,-86.84,...,3780.00,1040.00,83.93,1133.33,-22.57,-74.21,381.69,300.00,-92.56,355.56
518,Wyoming,0.13,0.21,27.42,0.77,1.52,-48.79,2.24,-18.60,-40.38,...,17.78,4.56,-15.78,-18.92,-40.59,-1.92,16.67,12.77,-5.56,4.88
519,Wyoming,-0.24,0.96,-53.16,35.88,-6.48,-7.87,-3.56,-100.00,-32.26,...,-4.27,51.01,5.48,-86.67,-57.14,-3.92,-2.26,0.24,0.00,-29.07

In [22]:
state_change.to_csv("state_change.csv",index = None, header=True)

## Percentage change group by year

In [9]:
yearly_sum = census_data.groupby(['Year']).sum()
del yearly_sum['state']
yearly_sum

,English only,Spanish,French Creole,Yaddish,Italian,Portuguese,German,Greek,Russian,Polish,...,Mon-Khmer,Hmong,Thai,Laotian,Vietnamese,Tagalog,Navajo,Hungarian,Arabic,Hebrew
Year,,,,,,,,,,,,,,,,,,,,,
2009,225882277.0,37574942.0,612910.0,159410.0,804455.0,693090.0,1130410.0,331686.0,848181.0,619652.0,...,186700.0,183822.0,141161.0,148579.0,1197590.0,1437653.0,170744.0,95529.0,755979.0,211896.0
2010,226897366.0,38833955.0,656051.0,154342.0,765684.0,681009.0,1109732.0,319353.0,830524.0,604434.0,...,200832.0,202143.0,152087.0,155583.0,1292705.0,1535615.0,169471.0,91445.0,765741.0,209614.0
2011,228376880.0,39519093.0,688785.0,154977.0,747740.0,682846.0,1102869.0,311150.0,851430.0,598205.0,...,206648.0,204745.0,154558.0,153469.0,1330222.0,1566576.0,168146.0,90976.0,810541.0,207037.0
2012,229781216.0,40160868.0,713701.0,156136.0,733340.0,686676.0,1097187.0,308929.0,865782.0,587857.0,...,209373.0,210055.0,154021.0,153378.0,1369733.0,1600561.0,168266.0,87951.0,867864.0,210887.0
2013,231294617.0,40750580.0,739768.0,155582.0,709354.0,693975.0,1064162.0,304987.0,879505.0,580196.0,...,212167.0,214943.0,152649.0,152647.0,1400036.0,1613417.0,166826.0,86406.0,924722.0,212837.0
2014,232900575.0,41351012.0,765985.0,157943.0,689586.0,687312.0,1029625.0,298631.0,889711.0,574006.0,...,217808.0,220190.0,155002.0,151932.0,1427286.0,1646177.0,166123.0,85014.0,981444.0,211094.0
2015,234352363.0,41895668.0,786770.0,159695.0,663629.0,687642.0,999350.0,296719.0,900904.0,560528.0,...,216407.0,222805.0,156997.0,148865.0,1451733.0,1675407.0,163169.0,82819.0,1035578.0,212385.0
2016,235703822.0,42300587.0,806268.0,478524.0,635866.0,700052.0,964879.0,540858.0,251852.0,320602.0,...,3167808.0,452869.0,1104641.0,227119.0,1454343.0,305655.0,1682060.0,1087291.0,212730.0,469984.0
2017,237113846.0,42876359.0,824898.0,484122.0,610988.0,720651.0,936435.0,534719.0,246483.0,323804.0,...,3279337.0,459303.0,1104246.0,226052.0,1473339.0,306303.0,1698881.0,1129366.0,214676.0,492294.0
2018,238129421.0,43307602.0,834558.0,493222.0,591543.0,747723.0,914147.0,525456.0,246233.0,328420.0,...,3348405.0,456297.0,1094261.0,229505.0,1488622.0,304342.0,1716368.0,1173221.0,214950.0,518612.0

In [10]:
yearly_sum.to_csv("yearly_sum.csv",index = None, header=True)

In [23]:
yearly_change = (yearly_sum.pct_change()*100).round(2)
yearly_change = yearly_change.fillna(0)
yearly_change

,English only,Spanish,French Creole,Yaddish,Italian,Portuguese,German,Greek,Russian,Polish,...,Mon-Khmer,Hmong,Thai,Laotian,Vietnamese,Tagalog,Navajo,Hungarian,Arabic,Hebrew
Year,,,,,,,,,,,,,,,,,,,,,
2009,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2010,0.45,3.35,7.04,-3.18,-4.82,-1.74,-1.83,-3.72,-2.08,-2.46,...,7.57,9.97,7.74,4.71,7.94,6.81,-0.75,-4.28,1.29,-1.08
2011,0.65,1.76,4.99,0.41,-2.34,0.27,-0.62,-2.57,2.52,-1.03,...,2.90,1.29,1.62,-1.36,2.90,2.02,-0.78,-0.51,5.85,-1.23
2012,0.61,1.62,3.62,0.75,-1.93,0.56,-0.52,-0.71,1.69,-1.73,...,1.32,2.59,-0.35,-0.06,2.97,2.17,0.07,-3.33,7.07,1.86
2013,0.66,1.47,3.65,-0.35,-3.27,1.06,-3.01,-1.28,1.59,-1.30,...,1.33,2.33,-0.89,-0.48,2.21,0.80,-0.86,-1.76,6.55,0.92
2014,0.69,1.47,3.54,1.52,-2.79,-0.96,-3.25,-2.08,1.16,-1.07,...,2.66,2.44,1.54,-0.47,1.95,2.03,-0.42,-1.61,6.13,-0.82
2015,0.62,1.32,2.71,1.11,-3.76,0.05,-2.94,-0.64,1.26,-2.35,...,-0.64,1.19,1.29,-2.02,1.71,1.78,-1.78,-2.58,5.52,0.61
2016,0.58,0.97,2.48,199.65,-4.18,1.80,-3.45,82.28,-72.04,-42.80,...,1363.82,103.26,603.61,52.57,0.18,-81.76,930.87,1212.85,-79.46,121.29
2017,0.60,1.36,2.31,1.17,-3.91,2.94,-2.95,-1.14,-2.13,1.00,...,3.52,1.42,-0.04,-0.47,1.31,0.21,1.00,3.87,0.91,4.75
2018,0.43,1.01,1.17,1.88,-3.18,3.76,-2.38,-1.73,-0.10,1.43,...,2.11,-0.65,-0.90,1.53,1.04,-0.64,1.03,3.88,0.13,5.35

In [24]:
yearly_change.to_csv("yearly_change.csv",index = None, header=True)

## Plot