In [23]:
%matplotlib notebook

In [24]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [25]:
census_2009 = pd.read_csv('2009.csv')
census_2009 = census_2009.iloc[:,:-1]
census_2009.head()

,Name,English only,Spanish,French Creole,Yiddish,Italian,Portuguese,German,Greek,Russian,...,Mon-Khmer,Hmong,Thai,Laotian,Vietnamese,Tagalog,Navajo,Hungarian,Arabic,Hebrew
0,Alaska,533451.0,22735.0,177.0,0.0,376.0,419.0,3689.0,75.0,3688.0,...,184.0,930.0,805.0,780.0,1031.0,12897.0,166.0,88.0,500.0,150.0
1,Alabama,4137110.0,113179.0,438.0,23.0,1796.0,1294.0,10230.0,1003.0,1467.0,...,804.0,37.0,876.0,921.0,5256.0,2141.0,39.0,154.0,4090.0,325.0
2,Arkansas,2472084.0,122443.0,56.0,33.0,1091.0,697.0,5997.0,241.0,629.0,...,0.0,1739.0,286.0,3101.0,4278.0,2131.0,17.0,206.0,2053.0,240.0
3,Arizona,4200786.0,1261134.0,349.0,358.0,7982.0,3032.0,22953.0,2628.0,7888.0,...,1446.0,36.0,2157.0,1977.0,16634.0,16083.0,87943.0,1904.0,12464.0,1385.0
4,California,19409485.0,9462163.0,5847.0,5129.0,66665.0,76778.0,118367.0,24310.0,142981.0,...,70374.0,63284.0,42824.0,36245.0,457012.0,699611.0,1573.0,15014.0,128659.0,39519.0

In [26]:
census_2009 = pd.read_csv('2009.csv')
census_2009 = census_2009.iloc[:,:-1]
tot_2009 = pd.DataFrame(census_2009.sum(numeric_only=True)).T
tot_2009.index = ["2009"]
tot_2009

,English only,Spanish,French Creole,Yiddish,Italian,Portuguese,German,Greek,Russian,Polish,...,Mon-Khmer,Hmong,Thai,Laotian,Vietnamese,Tagalog,Navajo,Hungarian,Arabic,Hebrew
2009,225882277.0,37574942.0,612910.0,159410.0,804455.0,693090.0,1130410.0,331686.0,848181.0,619652.0,...,186700.0,183822.0,141161.0,148579.0,1197590.0,1437653.0,170744.0,95529.0,755979.0,211896.0

In [27]:
census_2018 = pd.read_csv('2018.csv')
census_2018 = census_2018.iloc[:,:-1]
tot_2018 = pd.DataFrame(census_2018.sum(numeric_only=True)).T
tot_2018.index = ["2018"]
tot_2018

,English only,Spanish,French Creole,Yiddish,Italian,Portuguese,German,Greek,Russian,Polish,...,Mon-Khmer,Hmong,Thai,Laotian,Vietnamese,Tagalog,Navajo,Hungarian,Arabic,Hebrew
2018,238129421.0,43307602.0,834558.0,493222.0,591543.0,747723.0,914147.0,525456.0,246233.0,328420.0,...,3348405.0,456297.0,1094261.0,229505.0,1488622.0,304342.0,1716368.0,1173221.0,214950.0,518612.0

In [28]:
combined = tot_2009.append(tot_2018)
combined

,English only,Spanish,French Creole,Yiddish,Italian,Portuguese,German,Greek,Russian,Polish,...,Mon-Khmer,Hmong,Thai,Laotian,Vietnamese,Tagalog,Navajo,Hungarian,Arabic,Hebrew
2009,225882277.0,37574942.0,612910.0,159410.0,804455.0,693090.0,1130410.0,331686.0,848181.0,619652.0,...,186700.0,183822.0,141161.0,148579.0,1197590.0,1437653.0,170744.0,95529.0,755979.0,211896.0
2018,238129421.0,43307602.0,834558.0,493222.0,591543.0,747723.0,914147.0,525456.0,246233.0,328420.0,...,3348405.0,456297.0,1094261.0,229505.0,1488622.0,304342.0,1716368.0,1173221.0,214950.0,518612.0

In [29]:
combined = tot_2009.append(tot_2018).T
#combined.set_index('Language')
combined.index.name = 'Language'
combined.head()

                      2009         2018
Language
English only   225882277.0  238129421.0
Spanish         37574942.0   43307602.0
French Creole     612910.0     834558.0
Yiddish           159410.0     493222.0
Italian           804455.0     591543.0

In [30]:
combined['Change'] = combined['2018'] - combined['2009']
combined['Percentage'] = combined['Change']/combined['2009']*100
#combined = combined.sort('Percentage', ascending=False).head(5)
combined = combined.sort_values(["Percentage"], ascending = False).style.format({"Percentage":"{:.2f}%"})
combined